name: Test and Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.18'
    - name: Lint
      run: make lint
    - name: go test
      run: make test
    - name: generate coverage report
      run: make cover
    - name: Codecov
      uses: codecov/codecov-action@v2.1.0
